.btn-update-category:hover {
  color: #7baaf7;
}

.btn-update-category:before {
  content: '\f044';
  font-size: 23px;
}

.btn-update-category {
  height: 20px;
  width: 20px;
  margin: 50px 55px 50px 50px;
}

app-add-and-update-category {
  display: flex;
  margin: 25px 0 0 55px;
}
