<ul>
  <li *ngFor="let task of tasks$ | async">
    <form>
      <div class="control">
        <input class="change-status"
               (click)="changeStatus$(task.id)"
               [checked]="task.isDone"
               type="checkbox"/>
        <div class="name">
          {{task.title}}
        </div>
      </div>
      <div class="control">
        <app-form-update-task [task]="task"></app-form-update-task>
        <app-delete [id]="task.id" (deleteItem)="deleteTask$($event)"></app-delete>
      </div>
    </form>
  </li>
</ul>



